.header-text {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.close-icon {
  float: right;
  cursor: pointer;
}

.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.sign-up-button {
  text-align: right;
}

.sign-up-button-style {
  background-color: #e40046;
  color: white;
  width: 100%;
}

.spinner {
  margin: 5px auto
}

.center {
  margin-top: 10px;
  text-align: center;
}
