<div class="footer-root">
    <div class="footer-container_left">
      <div class="footer-text">{{ "footer.happyShoppingWithLabel" | translate }}</div>
      <img class="footer-logo" src="\assets\drawables\facebook.png" alt="facebook" />
      <img class="footer-logo" src="\assets\drawables\twitter.png" alt="twitter" />
      <img class="footer-logo" src="\assets\drawables\google.png" alt="google" />
    </div>
    <div class="footer-container_center">
      <div class="footer-text">{{ "footer.downloadAppsUsingThisLink" | translate }}</div>
      <img class="footer-logo" src="\assets\drawables\ios.png" alt="apple" />
      <img class="footer-logo" src="\assets\drawables\android.png" alt="android" />
    </div>
    <div class="footer-container_right">
      <div class="footer-text">{{ "footer.promoteYourBrandLabel" | translate }}</div>
      <button
      class="banner-advertise-button-style"
      mat-button
      translate="footer.bannerAdvertise"
      mat-raised-button
    ></button>
    </div>
</div>
