<form [formGroup]="form">
  <div
    class="root-container"
    *ngIf="isLoggedIn$ | async as isLoggedIn"
    [hidden]="!isLoggedIn.user"
  >
    <p>add-product works!</p>
    <hr />
    <div class="header-text">{{ "addProducts.advertiseFree" | translate }}</div>
    <div class="header-description">
      {{ "addProducts.saleTipLabel" | translate }}
    </div>
    <div class="add-photos-container">
      <div class="add-photos-text-container">
        <div class="add-photos-text">
          {{ "addProducts.addProductsLabel" | translate }}
        </div>
        <div style="color: red; margin-left: 2px">*</div>
      </div>
      <div style="display: flex;">
        <div class="add-image-button-container">
          <mat-icon class="add-icon">add</mat-icon>
          <!-- <input type="file" (change)="selectFile($event)"> -->
        </div>
        <div class="add-image-button-container">
          <img class="product-img" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80" alt="avatar">
          <mat-icon class="remove-icon">close</mat-icon>
        </div>
        <div class="add-image-button-container">
          <img class="product-img" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80" alt="avatar">
          <mat-icon class="remove-icon">close</mat-icon>
        </div>
        <div class="add-image-button-container">
          <img class="product-img" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80" alt="avatar">
          <mat-icon class="remove-icon">close</mat-icon>
        </div>
        <div class="add-image-button-container">
          <img class="product-img" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80" alt="avatar">
          <mat-icon class="remove-icon">close</mat-icon>
        </div>
        <div class="add-image-button-container">
          <img class="product-img" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80" alt="avatar">
          <mat-icon class="remove-icon">close</mat-icon>
        </div>
      </div>
    </div>
    <div class="add-photos-container">
      <div class="add-photos-text">
        {{ "addProducts.whatIsYourListing" | translate }}
      </div>
      <div class="add-photos-text-container">
        <div>{{ "addProducts.selectCategory" | translate }}</div>
        <div style="color: red; margin-left: 2px">*</div>
      </div>
      <mat-form-field
        class="mat-form-field-container"
        appearance="outline"
        *ngIf="categories$ | async as categories"
      >
        <mat-label>{{ "addProducts.selectCategory" | translate }}</mat-label>
        <mat-select [formControlName]="addProductForm.CATEGORY">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!checkFormIsValid(addProductForm.CATEGORY)">{{
          getErrorMessage(addProductForm.CATEGORY)
        }}</mat-error>
      </mat-form-field>
      <div class="add-photos-text-container">
        <div>{{ "common.name" | translate }}</div>
        <div style="color: red; margin-left: 2px">*</div>
      </div>
      <mat-form-field
        class="mat-form-field-container"
        appearance="outline"
        *ngIf="categories$ | async as categories"
      >
        <mat-label>{{ "addProducts.productTitle" | translate }}</mat-label>
        <input
          matInput
          type="text"
          pattern="[a-zA-Z]+"
          ng-pattern-restrict
          [formControlName]="addProductForm.PRODUCT_TITLE"
        />
        <mat-error *ngIf="!checkFormIsValid(addProductForm.PRODUCT_TITLE)">{{
          getErrorMessage(addProductForm.PRODUCT_TITLE)
        }}</mat-error>
      </mat-form-field>
      <div class="add-photos-text-container">
        <div>{{ "common.description" | translate }}</div>
        <div style="color: red; margin-left: 2px">*</div>
      </div>
      <mat-form-field
        class="mat-form-field-container"
        appearance="outline"
        *ngIf="categories$ | async as categories"
      >
        <mat-label>{{ "common.productDescription" | translate }}</mat-label>
        <textarea
          matInput
          [formControlName]="addProductForm.PRODUCT_DESCRIPTION"
        ></textarea>
        <mat-error
          *ngIf="!checkFormIsValid(addProductForm.PRODUCT_DESCRIPTION)"
          >{{ getErrorMessage(addProductForm.PRODUCT_DESCRIPTION) }}</mat-error
        >
      </mat-form-field>
      <div class="add-photos-text-container">
        <div class="add-photos-text-container">
          {{ "common.givingAway" | translate }}
        </div>
        <mat-slide-toggle
          [formControlName]="addProductForm.IS_GIVING_AWAY"
        ></mat-slide-toggle>
      </div>
      <div [hidden]="form.controls[addProductForm.IS_GIVING_AWAY].value">
        <div class="add-photos-text-container mat-form-field-container">
          <div>{{ "common.price" | translate }}</div>
          <div style="color: red; margin-left: 2px">*</div>
        </div>
        <div class="add-photos-text-container mat-form-field-container">
          <mat-form-field
            class="mat-form-field-price-container"
            appearance="outline"
            *ngIf="categories$ | async as categories"
          >
            <mat-label>{{ "common.productPrice" | translate }}</mat-label>
            <input
              matInput
              type="number"
              [formControlName]="addProductForm.PRODUCT_PRICE"
            />
            <mat-error
              *ngIf="!checkFormIsValid(addProductForm.PRODUCT_PRICE)"
              >{{ getErrorMessage(addProductForm.PRODUCT_PRICE) }}</mat-error
            >
          </mat-form-field>
          <mat-form-field
            class="currency-style"
            appearance="outline"
            *ngIf="categories$ | async as categories"
          >
            <mat-label>{{
              "addProducts.selectCategory" | translate
            }}</mat-label>
            <mat-select [formControlName]="addProductForm.CURRENCY">
              <mat-option
                *ngFor="let category of categories"
                [value]="category.id"
              >
                {{ category.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!checkFormIsValid(addProductForm.CURRENCY)">{{
              getErrorMessage(addProductForm.CURRENCY)
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="add-photos-container">
      <div class="add-photos-text">
        {{ "common.productLocation" | translate }}
      </div>
      <div class="add-photos-text-container">
        <div>{{ "common.listingLocation" | translate }}</div>
        <div style="color: red; margin-left: 2px">*</div>
      </div>
      <mat-form-field
        class="mat-form-field-container"
        appearance="outline"
        *ngIf="categories$ | async as categories"
      >
        <mat-label>{{
          "addProducts.tellWhereYouSellThisItem" | translate
        }}</mat-label>
        <input
          matInput
          type="text"
          [formControlName]="addProductForm.PRODUCT_LOCATION"
        />
        <mat-error *ngIf="!checkFormIsValid(addProductForm.PRODUCT_LOCATION)">{{
          getErrorMessage(addProductForm.PRODUCT_LOCATION)
        }}</mat-error>
      </mat-form-field>
      <div>{{ "addProducts.noteChooseALocationLabel" | translate }}</div>
    </div>
    <div class="add-photos-container">
      <div class="add-photos-text">
        {{ "addProducts.youtubeVideoEmbedUrl" | translate }}
      </div>
      <div class="add-photos-text-container">
        <div>{{ "addProducts.productVideo" | translate }}</div>
      </div>
      <mat-form-field
        class="mat-form-field-container"
        appearance="outline"
        *ngIf="categories$ | async as categories"
      >
        <mat-label>{{
          "addProducts.youtubeDummyPlaceHolder" | translate
        }}</mat-label>
        <input matInput type="text" />
        <mat-error *ngIf="!checkFormIsValid(addProductForm.CATEGORY)">{{
          getErrorMessage(addProductForm.CATEGORY)
        }}</mat-error>
      </mat-form-field>
    </div>
    <button
      [disabled]="!form.valid"
      class="save-button-style"
      mat-button
      translate="common.save"
      mat-raised-button
      (click)="save()"
    ></button>
  </div>
</form>
<app-home-footer></app-home-footer>
