<div class="content" *ngIf="products$ | async as products">
  <div class="product-container" *ngFor="let product of products">
    <div class="product-item">
      <img
        class="product-image"
        [src]="product.images[0]"
      />
    </div>
    <div style="padding: 5px">
      <div class="price-label">{{ product.product_price }}</div>
      <div class="name-label">{{ product.product_name }}</div>
      <div class="location-label">{{ product.product_location }}</div>
    </div>
  </div>
</div>
<app-home-footer></app-home-footer>
